<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard administrador</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/main/main.css}" rel="stylesheet" />
    <link th:href="@{/css/admin/dashboard.css}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>

  <body class="bg-white">
    <header class="fixed-top header">
      <div <div th:insert="~{fragments/layouts/header :: header}"></div>
    </header>

    <section class="section__admin__dashboard">
      <div class="dashboard__admin__banner">
        <h2 class="text-center" th:text="'PANEL ADMINISTRATIVO'"></h2>
      </div>
      <div class="menudashboard">
        <div th:insert="~{fragments/layouts/menu :: menu}"></div>
      </div>
      <div class="container mt-4 container__generico">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h2 class="mb-0">Usuarios</h2>
          <button
            class="btn btn-dark"
            data-bs-toggle="modal"
            data-bs-target="#modalUsuario"
          >
            Nuevo usuario
          </button>
        </div>

        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead class="table-dark">
              <tr>
                <th>Ndoc</th>
                <th>Tipodoc</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>FecNac</th>
                <th>Genero</th>
                <th>Rol</th>
                <th>Correo</th>
                <th>Usuario</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody id="tabla-usuario">
              <!-- Filas dinámicas -->
            </tbody>
          </table>
        </div>
      </div>

      <!-- Modal Crear/Editar Habitación -->
      <div
        class="modal fade modal-lg"
        id="modalUsuario"
        tabindex="-1"
        aria-labelledby="modalUsuarioLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-dark text-white">
              <h5 class="modal-title" id="modalUsuarioLabel">
                Nuevo Usuario
              </h5>
              <button
                type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="modal"
              ></button>
            </div>
            <form id="formUsuario">
              <div class="modal-body">

                <div class="row">
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="ndoc" class="form-label">N° Documento</label>
                      <input
                        type="text"
                        class="form-control"
                        id="ndoc"
                        name="ndoc"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="tipodoc" class="form-label"
                        >Tipo Documento</label
                      >
                      <select
                        class="form-select"
                        id="tipodoc"
                        name="tipodoc"
                        required
                      >
                        <option value="">Seleccione...</option>
                        <option value="DNI">DNI</option>
                        <option value="CE">Carné de Extranjería</option>
                        <option value="PAS">Pasaporte</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="nombre" class="form-label">Nombre</label>
                      <input
                        type="text"
                        class="form-control"
                        id="nombre"
                        name="nombre"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="apellido" class="form-label">Apellido</label>
                      <input
                        type="text"
                        class="form-control"
                        id="apellido"
                        name="apellido"
                        required
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="fecnacimiento" class="form-label"
                        >Fecha Nacimiento</label
                      >
                      <input
                        type="date"
                        class="form-control"
                        id="fecnacimiento"
                        name="fecnacimiento"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="genero" class="form-label">Género</label>
                      <select
                        class="form-select"
                        id="genero"
                        name="genero"
                        required
                      >
                        <option value="">Seleccione...</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="rol" class="form-label">Rol</label>
                  <select class="form-select" id="rol" name="rol" required>
                    <option value="">Seleccione...</option>
                    <option value="CLIENTE">Cliente</option>
                    <option value="ADMIN">Administrador</option>
                  </select>
                </div>

                <div class="mb-3">
                  <label for="correo" class="form-label">Correo</label>
                  <input
                    type="email"
                    class="form-control"
                    id="correo"
                    name="correo"
                    required
                  />
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="usuario" class="form-label">Usuario</label>
                      <input
                        type="text"
                        class="form-control"
                        id="usuario"
                        name="usuario"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="clave" class="form-label">Clave</label>
                      <input
                        type="password"
                        class="form-control"
                        id="clave"
                        name="clave"
                        required
                      />
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="estado" class="form-label">Estado</label>
                  <select
                    class="form-select"
                    id="estado"
                    name="estado"
                    required
                  >
                    <option value="">Seleccione...</option>
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                  </select>
                </div>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancelar
                </button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div th:insert="~{fragments/layouts/footer :: footer}"></div>
    </footer>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main/main.js}"></script>
    <script th:src="@{/js/admin/usuario.js}"></script>
  </body>
</html>
